<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet" href="{{ url_for('static', filename='first_page.css') }}">
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap" />
  	
</head>
<body>
  	
  	<div class="first-page">
    		<div class="light-graphic-title-text">
      			<div class="bg">
      			</div>
      			<b class="lct-track">LCT TRACK</b>
      			<img class="image-1-icon" alt="Gambar" src="{{ url_for('static', filename='aset/image 1.png') }}">
      			
      			<div class="contained-default">
        				<div class="btn-rect">
                            <a href="/home">
                                <div class="btn-bg"></div>
                                <b class="label">START</b>
                              </a>
        				</div>
      			</div>
    		</div>
  	</div>

	<div>
		<p>
			Testing Ajah
		</p>
	</div>
</body>
</html>