<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet" href="C:\Users\satri\Desktop\C-D\Code\Brian_LCTProject\LCTproject\static\first_page.css">
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap" />
  	
</head>
<body>
  	
  	<div class="first-page">
    		<div class="light-graphic-title-text">
      			<div class="bg">
      			</div>
      			<b class="lct-track">LCT TRACK</b>
      			<img class="image-1-icon" alt="Gambar" src="C:\Users\satri\Desktop\C-D\Code\Brian_LCTProject\LCTproject\static\aset\image 1.png">
      			
      			<div class="contained-default">
        				<div class="btn-rect">
                            <a href="C:\Users\satri\Desktop\C-D\Code\Brian_LCTProject\LCTproject\templates\home_page.html">
                                <div class="btn-bg"></div>
                                <b class="label">START</b>
                              </a>
        				</div>
      			</div>
    		</div>
  	</div>
</body>
</html>