<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet" href="C:\Users\satri\Desktop\C-D\Code\Brian_LCTProject\LCTproject\static\home_page.css">
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="home-page">
    		<img class="bg-icon" alt="Background" src="C:\Users\satri\Desktop\C-D\Code\Brian_LCTProject\LCTproject\static\aset\bg.png">
    		
    		<img class="bg-icon1" alt="Background" src="C:\Users\satri\Desktop\C-D\Code\Brian_LCTProject\LCTproject\static\aset\bg.png">
    		
    		<a href="home_page.css">
				<img class="image-3-icon" alt="Image 3" src="C:\Users\satri\Desktop\C-D\Code\Brian_LCTProject\LCTproject\static\aset\image 3.png">
			</a>
    		
    		<div class="sidebar">
      			<div class="left-column-56px-row">
        				<div class="bg">
        				</div>

						<!--Commented Refenitive-->
        				<!-- <div class="vert-sub-nav-row-56px">
          					<div class="bg1">
          					</div>
          					<div class="sidebar-sub-menu">Refenitive</div>
        				</div> -->

        				<div class="vert-nav-row-active-56px">
          					<div class="bg2">
          					</div>
          					<div class="bg1">
          					</div>
          					<div class="sidebar-menu-active">lct indonesia-jepang</div>
        				</div>
        				<div class="vert-nav-row-56px">
          					<div class="bg2">
          					</div>
        				</div>
        				<div class="vert-nav-row-active-56px1">
          					<div class="bg2">
          					</div>
          					<div class="bg1">
          					</div>
          					<img class="cursor-icon" alt="" src="cursor.png">
          					
          					<div class="sidebar-menu-active">Sidebar menu active 02</div>
        				</div>
        				<div class="vert-nav-row-56px1">
          					<div class="bg2">
          					</div>
          					<div class="sidebar-menu-01">Sidebar menu 01</div>
        				</div>
        				<div class="heading-leftcol">
          					<div class="dev">
          					</div>
          					<div class="icon">
            						<div class="rectangle">
            						</div>
            						<img class="pay-icon" alt="" src="Pay.svg">
            						
          					</div>
          					<div class="sidebar-navigation-menu">Sidebar navigation menu</div>
        				</div>
      			</div>
      			<div class="vert-nav-row-56px2">
        				<div class="bg2">
        				</div>
        				<div class="sidebar-menu-01">export</div>
      			</div>
      			<div class="vert-sub-nav-row-56px1">
        				<div class="bg1">
        				</div>
        				<div class="sidebar-sub-menu">Bank</div>
      			</div>

				<!--Commented Refenitive-->
      			<!-- <div class="vert-sub-nav-row-56px2">
        				<div class="bg1">
        				</div>
        				<div class="sidebar-sub-menu">Refenitive</div>
      			</div> -->

      			<div class="bg11">
      			</div>
      			<div class="vert-sub-nav-row-56px3">
        				<div class="bg1">
        				</div>
        				<div class="sidebar-sub-menu">Bank</div>
      			</div>
      			<div class="vert-nav-row-active-56px1">
        				<div class="bg2">
        				</div>
        				<div class="bg1">
        				</div>
        				<div class="sidebar-menu-active">
                            <a href="C:\Users\satri\Desktop\C-D\Code\Brian_LCTProject\LCTproject\templates\subpage_idrmy.html">
                                <div class="btn-bg"></div>
                                <b class="label">LCT indonesia-malaysia</b>
                              </a>
                        </div>
                        
      			</div>
      			<div class="vert-nav-row-56px3">
        				<div class="bg2">
        				</div>
        				<div class="sidebar-menu-01">Home Page</div>
      			</div>
    		</div>
    		<img class="desktop-footer-v1-icon" alt="Abu" src="{{ url_for('static', filename='aset/abu.png') }}">
    		
    		<div class="bg16">
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>